<!DOCTYPE html>
<html>
    <head>
        <title>Events App</title>
        <link
            rel="stylesheet"
            href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        />
        <link rel="stylesheet" href="/stylesheets/landing.css" />
        <script
            src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"
            type="text/javascript"
            async
        ></script>
    </head>
    <body>
        <div class="container">
            <% if(error && error.length > 0){ %>
            <div class="alert alert-danger" role="alert">
                <%= error %>
            </div>
            <% } %> <% if(success && success.length > 0){ %>
            <div class="alert alert-success" role="alert">
                <%= success %>
            </div>
            <% } %>
        </div>

        <div class="container-fluid" id="landing-header">
            <h1>Welcome to The Events App!</h1>
            <a href="/events" class="btn btn-light">View All Events</a>
        </div>

        <% include partials/footer %>
    </body>
</html>
